<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 목록</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>게시판 목록</h1>
    <form action="/board/list" method="get">
        <div class="d-flex justify-content-end md-4">
             <a href="/board/insert" class="btn btn-dark">등록</a>
        </div>
        <thead>
            <table class = "table text-center">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${boardDTOList}" class="text-center">
                        <td th:text="${board.boardNum}"></td>
                        <td class="text-center">
                        <td th:text="${board.boardTitle}"></td>
                        <td th:text="${board.boardContent}"></td>
                    </tr>
                </tbody>
            </table>
        </thead>
    </form>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>