<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>여기는 등록 페이지</title>
</head>
<body>

<h1> 여기는 등록 페이지 </h1>
<th:block>
    <a th:href="${'/brand/list'}">리스트페이지로 이동</a>
</th:block>

<form action="/brand/insert" method="post" th:object="${brandDTO} ">

    제목 : <input name="brandTitle" th:field="*{brandTitle}"> <br>

    내용 : <input name="brandContent" th:field="*{brandContent}"> <br>

    <button>저장</button>
</form>

</body>
</html>