<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>상점 상세보기</title>
</head>
<body>
<h1>상점상세</h1>
<a th:href="@{/store/list(hotelNum=${store.hotelNum})}">목록보기</a>
<div>
    <p><strong>상점 번호:</strong> <span th:text="${store.storeNum}"></span></p>
    <p><strong>상점 이름:</strong> <span th:text="${store.storeName}"></span></p>
    <p><strong>담당자 이름:</strong> <span th:text="${store.storeOwnerName}"></span></p>
    <p><strong>담당자 연락처:</strong> <span th:text="${store.storeOwnerContact}"></span></p>
    <p><strong>직영/가맹 여부:</strong> <span th:text="${store.isOwn}=='y'?'직영':'가맹'"></span></p>
    <p><strong>호텔 번호:</strong> <span th:text="${hotelName}"></span></p>
</div>
</body>
</html>