<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>insert</title>
</head>
<body>

<form action="/hotel/insert" method="post">
    <div class="mb-3">
        <input name="hotelNum" th:value="${hotelNum}">
        <label for="hotelName" class="form-label">호텔명</label>
        <input type="text" class="form-control" id="hotelName" name="hotelName" required>
    </div>

    <div class="mb-3">
        <label for="hotelContent" class="form-label">호텔 내용</label>
        <input type="text" class="form-control" id="hotelContent" name="hotelContent" required>
    </div>

    <button type="submit" class="btn btn-primary">등록</button>


</form>

</body>
</html>